/*  IDS
 */

#footer               { text-align: center; }
#maemotes             { display: flex;
                        flex-wrap: wrap; }
#maemotes-input       { margin: 0 4px 8px 4px;
                        width: 214px; }
#open-maemotes-button { align-items: center;
                        display: flex;
                        font-size: 20px; }

/*  CLASSES
 */

.close-maemotes-button    { display: none; }
.winter-0                 { background: url("../maemotes/artwork/default/winter/winter-0.jpg") !important;
                            color: #eee !important;
                            text-shadow: 1px 1px 1px #000; }
.winter-0 #maemotes-input { background-color: #dad8cc; }
.winter-1                 { background-image: url("../maemotes/artwork/default/winter/winter-1.gif");
                            height: calc(100% - 30px);
                            margin: -8px 0 0 -8px;
                            pointer-events: none;
                            position: absolute;
                            width: 100%; }
