/*  IDS
 */

#footer               { text-align: center; }
#maemotes             { display: flex;
                        flex-wrap: wrap; }
#maemotes-input       { margin: 0 4px 8px 4px;
                        width: 214px; }
#open-maemotes-button { align-items: center;
                        display: flex;
                        font-size: 20px; }

/*  CLASSES
 */

.close-maemotes-button        { display: none; }
.easter-0                     { background: url("../maemotes/artwork/default/easter/easter-0.jpg") !important;
                                color: #eee !important;
                                text-shadow: 1px 1px 1px #000; }
.easter-0 #maemotes-input     { background-color: #dad8cc; }
.easter-1                     { background-image: url("../maemotes/artwork/default/easter/easter-1.gif");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: calc(100% - 30px);
                                margin: -8px 0 0 -8px;
                                opacity: .5;
                                pointer-events: none;
                                position: absolute;
                                width: 100%; }
.halloween-0                  { background: url("../maemotes/artwork/default/halloween/halloween-0.jpg") !important;
                                color: #eee !important;
                                text-shadow: 1px 1px 1px #000; }
.halloween-0 #maemotes-input  { background-color: #dad8cc; }
.halloween-1                  { background-image: url("../maemotes/artwork/default/halloween/halloween-1.gif");
                                background-position: bottom;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: calc(100% - 30px);
                                margin: -8px 0 0 -8px;
                                opacity: .5;
                                pointer-events: none;
                                position: absolute;
                                width: 100%; }
.summer-0                     { background: url("../maemotes/artwork/default/summer/summer-0.jpg") !important;
                                color: #eee !important;
                                text-shadow: 1px 1px 1px #000; }
.summer-0 #maemotes-input     { background-color: #dad8cc; }
.summer-1                     { background-image: url("../maemotes/artwork/default/summer/summer-1.gif");
                                background-position: center;
                                background-repeat: no-repeat;
                                height: calc(100% - 30px);
                                margin: -8px 0 0 -8px;
                                opacity: .5;
                                pointer-events: none;
                                position: absolute;
                                width: 100%; }
.winter-0                     { background: url("../maemotes/artwork/default/winter/winter-0.jpg") !important;
                                color: #eee !important;
                                text-shadow: 1px 1px 1px #000; }
.winter-0 #maemotes-input     { background-color: #dad8cc; }
.winter-1                     { background-image: url("../maemotes/artwork/default/winter/winter-1.gif");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: calc(100% - 30px);
                                margin: -8px 0 0 -8px;
                                opacity: .5;
                                pointer-events: none;
                                position: absolute;
                                width: 100%; }
